<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<table th:fragment="authorTable" class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th> Name</th>
        <th>Date Of Birth</th>
        <th>ZipCode</th>
        <th>PhoneNumber</th>
        <th>StreetName</th>
        <th>Email</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="aut : ${authors}">
        <td th:text="${aut.id}"></td>
        <td th:text="${aut.name}"></td>
        <td th:text="${aut.dateOfBirth}"></td>
        <td th:text="${aut.address.zipCode}"></td>
        <td th:text="${aut.address.phoneNumber}"></td>
        <td th:text="${aut.address.streetName}"></td>
        <td th:text="${aut.address.email}"></td>

    </tr>
    </tbody>


</table>

</body>
</html>